<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking</title>
</head>


<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            ajaxCheckNewStatus()
            setInterval("ajaxCheckNewStatus()",3000); 
        });
        function ajaxCheckNewStatus() {
            $.ajax({
                type: "GET",
                url: '/test_available',
                success: function(data) {
                    $('#log').html(data);
                }
            });
        }   

    </script>
    <p>test started at: {{ started }}</p>
    <p>refreshing every 3 seconds</p>
    <h3>Current State: </h5>
    <span id="log">
    </span>
</body>
</html>